/* STYLE SECTIONING TAGS */

body {
  justify-content: center;
  align-items: center;
  font-family: "Benton Sans", "Helvetica Neue", helvetica, arial, sans-serif;
  margin: 2em;
  background-color: #000000;
}


/* STYLE TEXT */

h1 {
  text-align: center;
  font-style: italic;
  color: #4ce3f7;
}

h2 {
  text-align: center;
  margin-top: 2em; 
  color: #FFFFFF;
}

p {
  text-align: center;
  color: #FFFFFF;
}

/* STYLE FLEX CONTAINER */

.question {
  display: flex;
  justify-content: center;
  margin-top: 2em;
}
  
/* STYLE FLEX ITEM */

.answer-choice {
  margin: 5px;
}

/* STYLE IMAGES */

.answer-choice img {
  height: 10em;
}

#last {
  align-items: center;
  justify-content: center;
  text-align: center;
}

/* STYLE BUTTON */

button {
 align-items: center;
 justify-content: center;
 border: none;
 color: #fff;
 background-image: linear-gradient(30deg, #0400ff, #4ce3f7);
 border-radius: 20px;
 background-size: 100% auto;
 font-family: inherit;
 font-size: 17px;
 padding: 0.6em 1.5em;
}

button:hover {
 background-position: right center;
 background-size: 200% auto;
 -webkit-animation: pulse 2s infinite;
 animation: pulse512 1.5s infinite;
}

@keyframes pulse512 {
 0% {
  box-shadow: 0 0 0 0 #05bada66;
 }

 70% {
  box-shadow: 0 0 0 10px rgb(218 103 68 / 0%);
 }

 100% {
  box-shadow: 0 0 0 0 rgb(218 103 68 / 0%);
 }
}
